@import '../../../scss/variable.scss';

.card{
    margin: 10px;
    width: 300px;
    height: 285px;
    border-radius: 15px;
    background-color: $red-color;

    :hover{
        cursor: pointer;
    }

    @media screen and (max-width: 310px){
        width: 220px;
        height: 205px;
    }
}

.name{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.imageHero{
    margin-top: -1px;
    margin-left: -1px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

    @media screen and (max-width: 310px){
        width: 220px;
        height: 175px;
    }
}