.cont-filter{
    width: 100%;
    padding: 20px;
    background-color: #202020;
    display: flex;
    justify-content: flex-end;
    
    .input-group {
        width: 200px;
    }
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}