<div *ngIf="marvel != undefined" class="cont">
    <div class="row">
        <a class="btn btn-light" routerLink="/">Return</a>
    </div>
    <div class="info">
        <img [src]="imageUrl" [alt]="marvel.name">
        <div class="details">
            <div class="title">
                <h2>Name:</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                    viewBox="0 0 16 16" (click)="changeName()">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
            </div>

            <span *ngIf="!chgName; else inputName">{{marvel.name}}</span>
            <ng-template #inputName>
                <div class="edit">
                    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newName">
                    <div class="edit-buttons">
                        <button type="button" class="btn btn-success btn-sm" (click)="nameChange()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check" viewBox="0 0 16 16">
                                <path
                                    d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="chgName = false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x" viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </ng-template>
            <div class="title">
                <h2>Description:</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                    viewBox="0 0 16 16" (click)="changeDesc()">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
            </div>
            <div *ngIf="!chgDesc; else inputDesc">
                <p *ngIf="marvel.description == ''; else desc">
                    Does not have a description
                </p>
                <ng-template #desc>
                    <p>{{marvel.description}}</p>
                </ng-template>
            </div>
            <ng-template #inputDesc>
                <div class="edit">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Description" [(ngModel)]="newDesc"></textarea>
                    </div>
                    <div class="edit-buttons">
                        <button type="button" class="btn btn-success btn-sm" (click)="descChange()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check" viewBox="0 0 16 16">
                                <path
                                    d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="chgDesc = false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x" viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </ng-template>
            <h2>Modified:</h2>
            <span>{{marvel.modified}}</span>
        </div>
    </div>
    <div class="cards">
        <app-card *ngFor="let hero of randomArray" [name]="hero.name" [description]="hero.description"
            [modified]="hero.modified" [thumbnail]="hero.thumbnail.path" [extension]="hero.thumbnail.extension"
            [id]="hero.id.toString()" (click)="changeInfo()"></app-card>
    </div>
</div>