.cont{
    height: 100%;
    width: 100%;
    padding: 25px;
    background-color: #202020;
}

.row{
    margin-top: 20px;
    padding: 0px;

    a{
        width: auto;
        margin-left: 25px;
    }
}

.info{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img{
        width: 350px;
        object-fit: cover;
        border-radius: 30px;
    }

    margin-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}

.details{
    padding: 15px;

    h2{
        color: #ec1d24;
        font-weight: 800;
    }

    span, p{
        width: 550px;
        font-size: 18px;
        font-weight: 600;
        margin-left: 10px;
    }
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg{
        cursor: pointer;
    }
}

.cards{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.edit{
    display: flex;
    justify-content: space-between;
    align-items: center;

    input{
        width: 300px;
    }

    button{
        margin: 10px;
        text-align: center;
    }

    textarea{
        width: 450px;
        height: 120px;
    }

}